*{
    margin : 0;
    padding : 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
.clr{
    clear: both;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
#header{
    background-image: url(../images/header-bg.png);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: contain;
}
.intro-text{
    width: 50%;
    float: left;
    padding-top: 200px;
}
.intro-img{
    width: 50%;
    float: left;
    padding-top: 100px;

}
.intro-img img{
    width: 100%;
    padding-bottom: 150px;
}
.intro-text a{
    padding: 30px;
    padding-top : 20px;
    padding-bottom : 20px;
    background-color: #ec4c7d;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.intro-text p{
    padding : 20px 0;
    line-height: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color : #707070;
    padding-bottom: 85px;
}
.intro-text .hello{
    font-family: 'Roboto', sans-serif;
    color : #202428;
    padding-bottom: 20px;
}
.intro-text .name{
    font-family: 'Roboto', sans-serif;
    color : #ec4e8c;
    padding-bottom: 38px;
}
/* biography part goes here */
#biography{
    background-image: url(../images/biography-bg.png);
    background-position: cover;
    /* background-repeat: no-repeat; */
    background-size: contain;
}
.biography-img{
    width: 520px;
    float: left;
    padding-top :100px;
    padding-bottom: 150px;
}
.biography-text{
    width: 520px;
    float: left;
    padding-left : 130px;
    
}
.biography-text h1{
    padding-top : 250px;
    padding-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    color: #202428;
    line-height: 25px;
    text-transform: capitalize;
    font-size: 30px;
    letter-spacing: 1px;
}
.biography-text p{
    padding-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    color: #707070;
}
.biography-text a{
    padding: 18px 40px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #ec4e8c;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
#latest-work{
    background-image: url(../images/latest-work-bg.png);
    background-position: cover;
    /* background-repeat: no-repeat; */
    background-size: contain;
    height :500px;
}
.latest-head h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 70px;
    padding-top :80px;
    color: #202428;
    font-size: 25px;
    letter-spacing: 1px;
}
.work-item .work1{
    width: 376.666px;
    float: left;
}
.work-item .work2{
    width: 376.666px;
    float: left;
}
.work-item .work3{
    width: 376.666px;
    float: left;
}
.work-item {
    padding-bottom: 150px;
}
.mx{
    margin : 0 20px;
}
/* footer part goes here */
#footer{
    background-image: url(../images/footer-bg.png);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: contain;

}
#footer .client{
    text-align : center;
    font-family: 'Roboto', sans-serif;
    font-size :28px;
    color : #202428;
    padding-top: 150px;
    padding-bottom: 60px;
    line-height: 30px;
}
#footer h4{
    text-align : center;
    font-family: 'Roboto', sans-serif;
    color : #202428; 
    font-weight : 400px;
}
#footer h5{
    text-align : center;
    font-family: 'Roboto', sans-serif;
    color : #707070;
    padding-top :10px;
    font-weight : 300px;
}
#footer .description{
    text-align : center;
    font-family: 'Roboto', sans-serif;
    color : #333333;
    padding : 30px 290px;
    padding-bottom: 80px;
}
#footer a h3{
    text-align : center;
    font-family: 'Roboto', sans-serif;
    color : #ffffff;
    /* background-color: #ec4c7b; */
    padding : 25px 0;
    padding-bottom: 10px;
    font-size : 13px;
}
#footer a h1{
    text-align : center;
    font-family: 'Roboto', sans-serif;
    color : #ffffff; 
    padding-bottom: 35px;  
}
.item{
    background-color: #ec4c7b;
    margin: 0 290px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom : 150px;
}
.copyright{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color : #707070;
    padding-bottom: 30px;
}
